*{
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  color: black;
  display: flex;
  flex-direction: column;
  background-color: #222;
}

nav{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
  background-color:#fff;
}

nav a{
  width: 25%; 
  padding: 10px 0;
  background-color: rgb(201, 255, 203);
  text-align: center;
  border-radius: 5px;
  color: #000;
  transition: 0.4 all;
}
a:hover{
  background-color: rgb(169, 255, 172);
}

.header{
  width: 100%;
  text-align: center;
  height: 40px;
  background-color: #074;
  color: rgb(223, 223, 223);
}

main{
  border-top: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  /* background-color: red; */
  gap: 10px;
}

.card{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  width: 90%;
  padding: 5px 0;
  box-shadow: 0px 1px 5px 0px rgba(28, 29, 4, 0.5);
  background-color:#fff;
}

.card img{
  width: 95%;
}

.card__infos{
  width:95%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;  
}

.card__infos p{
  padding: 10px;
  /* background-color: #069; */
}

.card__text{
  color:#5b5b5b;
  font-size: 18px;
}

.ref, .ref span{
  color:#5b5b5b;
}

.preco span{
  font-weight: bold;

}
